body {
  padding: 60px 100px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table td {
  padding-right: 10px;
}
table th {
  text-align: left;
  text-transform: capitalize;
}

.inat-curated-species-filter {
  margin-bottom: 20px;
}

.inat-curated-species-filter label {
  margin-right: 10px;
}

.inat-curated-species-filter-counts {
  margin-left: 10px;
  color: #3366cc;
}

.inat-curated-species-table {
  width: 100%;
}

.inat-curated-species-table tr:nth-child(even) {
  background-color: #efefef;
}

svg.MuiSvgIcon-fontSizeMedium {
  color: #3366cc;
}

.inat-curated-species-standalone-loader {
  position: relative;
}

.inat-curated-species-loader-outer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inat-curated-species-loader-inner {
  position: absolute;
  background-color: #efefef;
  padding: 20px;
  width: 100px;
  border-radius: 10px;
  height: 100%;
  opacity: 0.8;
}
.inat-curated-species-loader {
  color: #3366cc !important;
}
.inat-curated-species-list-tabs {
  margin-bottom: 20px;
}

.inat-curated-species-list-last-generated-date {
  float: right;
  color: #999999;
  font-size: 13px;
}
.inat-curated-species-list-last-generated-date span {
  font-weight: bold;
}

.inat-curated-species-list-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0 0 30px;
}
.inat-curated-species-list-tabs button {
  all: unset;
}

.inat-curated-species-list-tabs li {
  display: inline-block;
  padding: 6px 20px;
  cursor: pointer;
}

.inat-curated-species-list-tabs li.inat-curated-species-list-tab-selected {
  border-bottom: 3px solid #3366cc;
}
