body {
  padding: 50px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table td {
  padding-right: 10px;
}
table th {
  text-align: left;
  text-transform: capitalize;
}
