body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #e8e8e8;
  display: inline-block;
  padding: 0 3px;
  border-radius: 4px;
}

:global(#root) {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

div.usernames {
  flex: 1;
}

.fieldsRow {
  display: flex;
  margin-top: 10px;
}

.fieldsRow :global(.MuiInputBase-root) {
  margin-right: 10px;
}

p {
  line-height: 25px;
}
