.dialogLoadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.dialogLoadingOverlay span {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  bottom: 0;
  right: 0;
}

.dialogLoading {
  background-color: #999999;
}

.deleteRow {
  cursor: pointer;
}

.baselineTable {
  width: 100%;
}

.baselineTable td {
  padding: 3px;
}

.baselineTable tr:hover {
  background-color: hsl(209, 100%, 92%);
}

.baselineTable thead tr:hover {
  background-color: white;
}

.rowNum {
  font-size: 10px;
  color: #999999;
  width: 30px;
}
