html,
body {
  margin: 0;
  font-size: 15px;
  font-family: Georgia;
}

td,
p,
textarea,
input {
  font-size: 15px;
  min-height: 23px;
}

table tr:nth-child(even) {
  background-color: #efefef;
}

th {
  text-align: left;
}

a:link,
a:visited {
  color: #0360b8;
}
