body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

div.usernames {
  flex: 1;
}

.fieldsRow {
  display: flex;
}

.fieldsRow :global(.MuiInputBase-root) {
  margin-right: 10px;
}
